<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/assets/css/style.css" th:href="@{/assets/css/style.css}" />
    <!-- <title th:text="${title}"></title> -->
    <title>Riding a Bicycle</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>

<body onscroll="scroll_chk()">
    <div class="container">
        <section class="bg"></section>
        <header>
            <a class="logo active" onclick="main()">자전거를 타자</a>
            <div class="menu">
                <ul>

                    <li class="notice"><a onclick="getNotice();">Anouncement</a></li>
                    <li class="report"><a onclick="board();">Report</a></li>
                    <li th:if="${session.id}" class="loggedin_user">
                        <div>[[${session.id}]]님 환영합니다.</div>
                        <button onclick="logout()">로그아웃</button>
                    </li>
                    <li th:if="${session.id} == null"><button class="login-button"
                            onclick="login_from_show()">Login</button></li>
                    <li class="login_frm">
                        <input type="text" name="id" id="id">
                        <input type="password" name="password" id="password">
                        <button onclick="frm_check()">로그인</button>
                    </li>
                </ul>
            </div>
        </header>
        <table class="board">
            <caption class="board_title"></caption>
            <thead>
                <th>내용</th>
                <th>날짜</th>
            </thead>
            <tbody>
               
            </tbody>
        </table>
        <div class="content">
            <span class="main_quote">자전거가 필요하신가요?[[${list}]]</span>
        </div>
    </div>
    <!-- <div th:insert="/fragments/introduce.html :: bg"></div> -->
    <div th:replace="${session.id} ? ~{fragment::main} : ~{}"></div>



    <script src="./js/index.js"></script>
</body>

</html>