<div class="container">
    <section class="bg"></section>
    <header>
        <a class="logo" href="/">자전거를 타자</a>
        <div class="menu">
            <ul>
                <!-- <li><a href="#">Intro</a></li> -->
                <li><a href="#">Anouncement</a></li>
                <li><a href="#">Report</a></li>
                <li><button class="login-button" onclick="login_from_show()">Login</button></li>
                <li>
                <div action="" class="login_frm">
                    <input type="text" name="id" id="id">
                    <input type="password" name="password" id="password">
                    <button onclick="frm_check()">로그인</button>
                </div>
            </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <span class="main_quote">자전거가 필요하신가요?</span>
    </div>
</div>


--------------------header 부분 ---------------